/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
 
  }

p{
  margin-bottom: -5px;
}

img{
  padding-top: 15px;
  padding-left: 15px;
}

.description{
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin-top: -30px;
  padding-bottom: 10px;
}